@import url(/assets/css/nav.css);

body { margin:0; padding: 0;
    background-color: #dd5454;
}
p{
    font-family: 'Archivo Black',sans-serif;
    font-size:25px;
    font-style: normal;
    font-weight:550;
    line-height: normal;
    align:top;
    color:rgb(0, 0, 0);
    position:flex;
    margin:70px;
    padding:0px;
    float: right;
}

img{
    margin-top: 10px;
    padding:0;
    flex-shrink: 0;
    border-radius:10%;
    flex-shrink: 0;
    align-items:right;

}


img.logo{
    
    
    color:black;
    position:flex;
    align:top;
    margin:20px;
    margin-right:20px;
    padding:0px;
    float:right;
}



h1{
   font-family: 'Archivo Black',sans-serif;
   font-style: oblique;
   font-weight:700;
   text-decoration: underline;

}