@import url(/assets/css/nav.css);
body { margin:0; padding: 0;
    background-color: #dd5454;
}

p{
    font-family: 'Archivo Black',sans-serif;
    font-size:49px;
    font-weight:550;
    line-height: normal;
    color:rgb(0, 0, 0);
    position:flex;
    margin:70px;
    padding:0px;
    margin-top:-1450px;
    width:740px;
    height: 200px;
    float: right;
    text-decoration: underline;
}



#img1{
width: 200px;
margin:10px;
}
#img2{
    width: 200px;
    margin: 10px;
}
#img3{
    width: 200px;
    margin: 10px;
}#img4{
    width: 200px;
    margin: 10px;
    
}#img5{
    width: 200px;
    margin: 10px;
}#img6{
    width: 200px;
    margin: 10px;
}#img7{
    width: 200px;
    margin: 10px;
}#img8{
    width: 200px;
    margin: 10px;
   

}#img9{
    width: 200px;
    margin: 10px;

}#img10{
    width: 200px;
    margin: 10px;
    
    
}
#img11{
    width: 200px;
    margin: 10px;
    
}#img12{
    width: 200px;
    margin: 10px;
    
}#img13{
    width: 200px;
    margin: 10px;
}#img14{
    width: 200px;
    margin: 10px;
    
}#img15{
    width: 200px;
    margin: 10px;
}


h2{
   font-family:Arial, Helvetica, sans-serif;
   font-style: oblique;
   font-weight:700;
   text-decoration: underline;

}

