@import url(/assets/css/nav.css);


p{
    font-family: 'Archivo Black',sans-serif;
    font-size:25px;
    font-style: normal;
    font-weight:550;
    line-height: normal;
    align:top;
    color:rgb(0, 0, 0);
    position:flex;
    margin:70px;
    padding:0px;
    float: right;
}
div.Poster{
    width: 200px;
    margin: 10px;
}
div.Cosplay{
    width: 200px;
    margin: 10px;
}

/*
#img1{
width: 200px;
}
#img2{
    width: 200px;
    margin: 10px;
}
#img3{
    width: 200px;
    margin: 10px;
}#img4{
    width: 200px;
    margin: 10px;
    
}#img5{
    width: 200px;
    margin: 10px;
}#img6{
    width: 200px;
    margin: 10px;
}#img7{
    width: 200px;
    margin: 10px;
}#img8{
    width: 200px;
    margin: 10px;
}#img9{
    width: 200px;
    margin: 10px;

}#img10{
    width: 200px;
    margin: 10px;
    
}
#img11{
    width: 200px;
    margin: 10px;
    
}#img12{
    width: 200px;
    margin: 10px;
    
}#img13{
    width: 200px;
    margin: 10px;
}#img14{
    width: 200px;
    margin: 10px;
    
}#img15{
    width: 200px;
    margin: 10px;
}
*/

h2{
   font-family:Arial, Helvetica, sans-serif;
   font-style: oblique;
   font-weight:700;
   text-decoration: underline;

}