/* header */

.header{
    background: url(./img/a4d9dd1d-4ab0-48a4-87bb-cd2d112749e1_1689684325739852350.png) no-repeat;
    text-align: center;
    color: white;
    padding: 200px;
    background-attachment: fixed;
}