/* header */

.header {
    background: url(../img/Hunter_x_hunter.png) no-repeat center top;
    background-color: #4E9F56;
    background-size: contain;
    height: 200px; /* Ajustez cette valeur en fonction de la hauteur souhaitée */
}

.header_actus {
    background: url(../img/hxh_actus1.png) no-repeat center top;
    background-color: #4E9F56;
    background-size: contain;
    height: 500px; /* Ajustez cette valeur en fonction de la hauteur souhaitée */
    margin-top: 50px; /* Ajoutez une marge en haut pour séparer du titre */
}

.header_nendoroid {
    background: url(../img/Nendoroid.png) no-repeat center top;
    background-color: #4E9F56;
    background-size: contain;
    height: 500px; /* Ajustez cette valeur en fonction de la hauteur souhaitée */
    margin-top: 50px; /* Ajoutez une marge en haut pour séparer du titre */
}

