
.text-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #98C57C;
    height: 0%; /* Hauteur augmentée pour le contenu de "text-1" */
    margin: 0%; /* Espacement autour du contenu de "text-1" */
    color: white; /* Couleur du texte */
    font-size: 24px; /* Taille de police du texte */
    text-align: center; /* Centrer le texte horizontalement */
    block-size: 200px; 
}

.body{
    margin:0px;
    padding:0px;

}

.background{
width:1920px;
height:1080px;
 margin:auto;
 padding:0px;
 display: flex;
 background: url(/assets/img/image\ v.jpg), lightgray 70%;
 
}

.text{
 color:white;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size: 50px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 text-align:left;
 
}
