
.background{
    width: 1440px;
    height: 783px;
    flex-shrink: 0;
    
    background-image:url(/assets/img/images.jfif), cover no-repeat;
    background:fixed;
    display:flex;
}

.text{
 width: 377px;
 height: 677px;
 flex-shrink: 0;
 color:blue;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size: 40px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
}
