

.background{
width:1920px;
height:1080px;
 margin:auto;
 padding:0px;
 display: flex;
 background: url(/assets/img/image\ v.jpg), lightgray 70%;
 
}

.text{
 color:white;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size: 50px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 text-align:left;
 
}

