body {
  font-family: 'Macondo', cursive;
  padding: 0px;
  margin: 0 auto;
}

.container {
  flex : 1;
  max-width: 70%;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: row; /* Change l'orientation en ligne pour mettre l'image à droite du texte */
}

.container_actus {
  flex : 1;
  max-width: 70%;
  margin: 0;
  padding: 20px;
  flex-direction: column; /* Change l'orientation en ligne pour mettre l'image à droite du texte */
  align-items: center;
}

.title {
  font-family: 'Holtwood One SC', sans-serif;
  margin: 0; /* Réinitialise les marges par défaut du titre */
  position: absolute;
}

.title_actus {
  font-family: 'Jomhuria', sans-serif;
  font-size: 500%;
  text-align: center; /* Centre le texte à l'intérieur de son conteneur */
  margin-left: 40%;
}

.text {
  flex: 2; /* Ajuste la largeur du texte pour occuper le reste de l'espace disponible */
  content: justify;
  font-size: 20px;
}

.content {
  white-space: pre-wrap; /* Conserve les espaces et sauts de ligne du texte */
  margin-left: 10px; /* Ajoute une marge gauche au texte */
  font-family: 'Mali', sans-serif;
}


.image-container {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 20px;
    display: flex;
    position: relative
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image img {
  max-width: 100%;
  height: auto;
}

.page-background {
  background-image: url("/assets/img/a4d9dd1d-4ab0-48a4-87bb-cd2d112749e1_1689684325739852350.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative; /* Ajout de la propriété position relative pour les éléments positionnés à l'intérieur */
}

.page-background_2 {
  background-color:  #4E9F56;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative; /* Ajout de la propriété position relative pour les éléments positionnés à l'intérieur */
}

.text-overlay {
  position: absolute;
  top: 20%; /* Centrer verticalement */
  left: 50%; /* Centrer horizontalement */
  transform: translate(-50%, -50%); /* Centrer précisément */
  padding: 20px; /* Ajout de marges pour l'espace du texte */
  background-color: rgba(0, 0, 0, 0.6); /* Couleur noire transparente */
  color: white; /* Couleur du texte */
  font-size: 24px;
  font-family: Mali;
  max-width: 80%; /* Limiter la largeur du texte */
}

/* note : penser a relire le cours et a ajouter un adapt histoire que ça s'affiche sur n'importe quel taille de fenêtre si j'ai le temps */